@page
@model VacanciesModel

<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>All Vacancies</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Description</th>
                        <th>Question Count</th>
                        <th>Published Date</th>
                        <th>CategoryId</th>
                        <th>Applicants</th>
                        <th>Questions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vacancy in Model._vacanciesViewModel)
                    {
                        <tr>
                            <td>@vacancy.Header</td>
                            <td><textarea style="border:none;" rows="6">@vacancy.Description</textarea></td>
                            <td>@vacancy.QuestionCount</td>
                            <td>@vacancy.PublishedDate</td>
                            <td>@vacancy.CategoryId </td>
                            <td><a class="btn btn-warning btn-lg" href="/@vacancy.Id/applicants">Applicants</a></td>
                            <td><a class="btn btn-warning btn-lg" href="/@vacancy.Id/questions">Questions</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
